


/* حدود الخلفيه */
:root {
  --color-bg1: rgb(0, 23, 85);  /* تعريف لون الخلفية الأول */
  /* تعريف لون الخلفية الثاني */
  --color3: 1, 61, 161; /* تعريف متغيرات الألوان */
  --color2: 2, 51, 134;
  --color3: 2, 46, 119;
  --color4: 1, 61, 161;
  --color-interactive: 0 , 80, 211; /* تعريف لون تفاعلي */
  --circle-size: 80%; /* تعريف حجم عنصر الدائرة */
  --blending: smooth;/* تعريف وضع الدمج */
  --shadow-opacity: 0.39;
  --white: #ffffff;
  --blur: 10px;
  }
  .gradient-bg {
  width: 100vw;
  height: 560vh;
  position: relative;
  overflow: hidden;
  background-color:  rgb(1, 11, 41);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  }
  
  .gradient-bg svg {
  display: none;
  }
  
  .gradient-bg .gradients-container {
  filter: url(#goo) blur(150px);
  width: 100%;
  height: 100%;
  }
  
  .gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color1), 1) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  Right: calc(50% - var(--circle-size) / 2);
  transform-origin: Right Right;
  animation: moveVertical 5s ease infinite;
  opacity: 2;
  --blur: 10px;
  }
  
  
  
  
  .gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  Right: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 8s reverse infinite;
  opacity: 1;
  --blur: 10px;
  }
  
  .gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  Right: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 11s linear infinite;
  opacity: 1;
  }
  
  .gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  Right: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 10s ease infinite;
  opacity: 0.7;
  }
  
  .gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  Right: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 5s ease infinite;
  opacity: 2;
  }
  
  .gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(circle at Right, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  Right: -50%;
  opacity: 1.7;
  }
  
  /* Media Query for Tablets */
  @media (max-width: 768px) {
    .gradient-bg {
      width: 100vw;
      height: 1400vh; /* Adjust the height for tablets */
    }
  }
  
  /* Media Query for Mobile Phones */
  @media (max-width: 480px) {
    .gradient-bg {
      width: 100vw;
      height: 1400vh; /* Adjust the height for mobile phones */
    }
  }
    


  html,body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
   min-height: 120vh;
   font-family: 'Cairo';
  }

  .element {
    margin: 0;
  }
  
  
font {

    font-family: 'Cairo';  /* تعريف نوع الخط للنص */
    font-size: 14px; /* تعريف حجم الخط */
    font-weight: 500;/* تعريف وزن الخط */
    color:#ffff; /* تعريف لون الخط */
    padding: 0; /* تعريف التباعد الداخلي للعنصر */
    line-height: 1.9em;  /* تعريف ارتفاع السطر */
    word-spacing: 0px; /* تعريف تباعد الكلمات */
    letter-spacing: -0.2px;/* تعريف تباعد الأحرف */
  }

  h1 {
    line-height: 2em;
  }

/* تعريف المتغيرات المخصصة لتخطيط .g-custom */
.g-custom {
--bs-gutter-x: 30px; /* تعريف فجوة الاتجاه الأفقي */
--bs-gutter-y: 30px;/* تعريف فجوة الاتجاه العمودي */
}
/* تعريف المتغير المخصص لتخطيط .g-custom-x */
.g-custom-x {
--bs-gutter-x: 30px;  /* تعريف فجوة الاتجاه الأفقي */
}

/* تعريف تأثير التمويه للخلفية */
#a:hover + #b {
background: #ccc;
}

/* تعريف تأثير الزجاج لقائمة الوكالات */
#agency-menu {
backdrop-filter: blur(10px);
} 
 .container {
width: 80%;
z-index: 1; /*يحدد ترتيب تكديس العنصر في الصفحة بفوقية 100.*/
position: absolute; /*يحدد نوع التمركز للعنصر بناءً على إحداثياته المحددة.*/
top: 2%; /*يحدد المسافة بين العنصر والجزء العلوي من العنصر الأب بوحدة em */
Left: 0; /* يحدد المسافة بين العنصر والجزء الأيسر من العنصر الأب*/
right:0; /*يحدد المسافة بين العنصر والجزء الأيمن من العنصر الأب*/ 
justify-content: center;
align-items: center;/* يحدد توجيه المحتوى الداخلي للعنصر بحيث يتم توسيطه في الوسط عموديًا وأفقيًا.*/
 /*يحدد حجم الخط للنص داخل العنصر*/
font-size: 4px; /*يحدد لون النص.*/
color: #ffffff; /*يحدد مستوى الشفافية للعنصر بقيمة 0.8*/
opacity:100; /*يمنع تحديد النص داخل العنصر بواسطة المستخدم */
display: flex; /*يحدد توجيه العناصر الداخلية للعنصر الرئيسي عموديًا.*/
flex-direction: column; /*يحدد المسافة بين العناصر الداخلية للعنصر الرئيسي.*/
gap: 5.2px;  /*يحدد أقصى عرض للعنصر. يحدد المساقات بين ال*/
background-color: black;
margin: auto; /*يحدد الحشو للعنصر.*/
padding: 30px; /* يحدد خلفية العنصر بشفافية 0.25.*/
}
.container .Zano1 {
  width: 100%;
  z-index: -1;
  
  backdrop-filter: blur(2px);
  border: 1.2px solid rgba(255, 255, 255, 0.281);
  
  }
  .Zano1 img{
    width: 100%;
  }
.logo {
width: 40%;
align-items: right;
float: right;
}

.img {
  width: 40%;
  }

  .outer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  .inner {
    float:right;
    width: 90%;
    border: 1px solid #ccc; /* Adding borders for visualization */
    padding: 10px;
  }
  
  .inner p{
    
    display: flex; 
    justify-content: space-between; 
    font-family: 'Cairo';

    text-align: justify;
    direction: rtl;
  }
  .inner h2{
    
    display: flex; 
    justify-content: space-between; 
    font-family: 'Cairo';
   
    text-align: justify;
    direction: rtl;
  }
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .outer {
      flex-direction: column;
      width: 100%;
    }
    .inner {
      width: 100%;
      margin-top: 10px;
    }
    .img {
      float: none; /* Reset float on smaller screens */
      width: 40%; /* Adjust image width */
    }
  
  }
/* Definitions for a vertical line */
.my-vertical-line {
  /* Make sure it's displayed by default */
  width: 2px;
  height: 280px;
  background-color: #000;
  margin-top: 99px;
  margin-bottom: 1px;
}

/* Definitions for a line next to the title */
.title-line {
  display: block; /* Make sure it's displayed by default */
  height: 200%;
  display: flex;
  font-family: 'Cairo ExtraBold';
  font-weight: bold;
  align-items: center;
  direction: rtl;
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
  /* Hide elements on smaller screens like phones */
  .my-vertical-line,
  .title-line {
    display: none;
  }
 
}

.containerZA {
  display: grid;
  grid-template-columns: 3fr 1fr ;
  grid-gap: 15px; /* Adjust the gap between columns as needed */
  align-items: center; /* Align the items vertically in the center */
  direction: rtl;
  justify-content: space-between; 
  font-family: 'Cairo';
  text-align: justify;
  direction: rtl;
  padding: 4px;
}
.containerZA img {

  width: 200px; /* Fixed width for the image */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally within its container */
  
}

/* Media query for screens with a width less than 768px */
@media screen and (max-width: 768px) {
  .containerZA {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }

  /* Hide the vertical lines on smaller screens */
  .my-vertical-line {
    display: none;
  }
}
/* 
start list nav  */
*{
  margin: 0;
  padding: 0;
}
nav{ 
backdrop-filter: blur(10px);
width: 100%;
border: 1.2px solid rgba(255, 255, 255, 0.281);

}
.subnav {
  display: block;
  position: absolute;
  top: 100%;
  display: none;
background: rgba(255, 255, 255, 0.2); 
backdrop-filter: blur(10px);
}
.subnav-link:hover { 
  filter: drop-shadow(0 0 10px rgba(1, 50, 135, 0.9)) brightness(1.5);
  transition: background-color 0.3s; /* تضمين تأثير انتقالي لتغيير اللون بنعومة */
  }

.subnav .subnav {
  display: none;
  left: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
}

.list_item:hover > .subnav {
  display: block;
  opacity: 1;
  visibility: visible;
  margin-top: .1rem;
}

.list_item {
  position: relative;
}


nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  
}


nav li{
  height: 30px;
}
nav a::before{
  content: "|";
  color: var(--black-300);
  margin-left: -1.6rem;
  margin-right: 1.3rem;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);

}
nav img{
  width: 100%;
  content: none;
 margin-top: 1px;
}
.nav img::after {
  content: none; /* Remove the separator for all menu items by default */
}

.nav img:not(:last-child)::after {
  content:  none; /* Add the separator for all menu items except the last one */
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px; 
    z-index: 999;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-botton{
  display: none;
  color: #ffffff;
}
.hideOnScreen{
  display: none;
}
@media(max-width:800px)
{
  .hideOnMobile{
    display: none;
  }
  .menu-botton{
    display: block;
  }
}

@media (max-width:400px) {
  .sidebar{
    width: 100%;
  }
}
/* end secion of nav header list */

        

h1 {
   font-family: 'Cairo';
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

h4 {
  font-family: 'Cairo';
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}



